<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongbenshuo.pepper.mapper.PepperMapper">
    <select id="queryPersonnelStatus" resultType="PersonnelStatusInfo">select top 1 userInfo.user_name as name,
       attendance_type,
       out_attendance,
       CONVERT(VARCHAR(100),attendance_time,100) AS attendance_time,
       attendance_address,
       AttendanceRule.rule_name as ruleName
        from  userInfo
        LEFT JOIN AttendanceRecord on AttendanceRecord.user_id = userInfo.user_id
        left join AttendanceRule on AttendanceRecord.rule_id = AttendanceRule.id
				where dbo.procGetPY(userInfo.user_name)  = #{name}
          ORDER BY AttendanceRecord.attendance_time desc
    </select>

    <select id="queryPersonnelPhone" resultType="ResultData">
        select phone_number as msg,user_name as name from userInfo where dbo.procGetPY(user_name)  = #{name}
</select>

    <select id="queryPersonnelEmail" resultType="ResultData">
        select mail_address as msg,user_name as name from userInfo  where dbo.procGetPY(user_name)  = #{name}
    </select>

    <select id="queryPepperBusiness" resultType="PepperPicture">
        select * from PepperBusinessScope order by sort
    </select>

    <select id="queryPepperCompany" resultType="PepperPicture">
        select * from PepperCompanyProfile order by sort
    </select>

    <select id="queryPepperProject" resultType="PepperPicture">
        select * from PepperEngineeringCases order by sort
    </select>

    <select id="querySelfIntroduction" resultType="String">
        select information from PepperSelfInfoAndAsk where type = 1
    </select>

    <select id="queryAskSentence" resultType="String">
        select information from PepperSelfInfoAndAsk where type = 2
    </select>

    <select id="queryEnvironment" resultType="String">
        select ${type} from Environment where station = ${station}
    </select>

</mapper>